<div class="post-edition">
  <div class="post-edition__header">
    <img class="post-edition__bg" appImg [src]="post.img" alt="bg img">
    <img class="post-edition__avatar" appImg [src]="post.author.avatar" alt="bg avatar">
  </div>
  <div class="post-edition__middle">
    <div class="post-edition__name">{{post.author.firstName}} {{post.author.firstName}}</div>
    <span class="post-edition__addition">{{post.addition.company}} | {{post.addition.jobTitle}} | {{post.addition.placesWork}}</span>
    <span class="post-edition__span">{{post.body}}</span>
  </div>
  <div class="post-edition__footer">
    <ion-button shape="around"  (click)="onTrack($event)">Tracking</ion-button>
  </div>
</div>
