.new-publications{
  &__header{
    display: flex;
    align-items: center;
  }
  &__img, &__avatar{
    width: 48px;
    height: 48px;
  }
  &__btn{
    height: 48px;
  }
  &__btn-wrapper{
    width: 100%;
    padding-left: 8px;
  }
  &__action{
    display: flex;
    flex-wrap: wrap;
  }
  &__button{
    flex-grow: 1;
    &--event{
      --color: #855050;
    }
  }
  &__create{

  }
}

@media screen and (max-width: 760px) {
  .new-publications{
    &__action{
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 576px) {
  .new-publications{
    &__action{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__button{
      font-size: 15px;
      padding: 8px;
    }
  }
}
