.popup-post{
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  position: relative;
  height: 100%;
  &__close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    transition: background-color .25s linear;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    &:hover{
      background-color: rgba(0,0,0,0.08);
    }
    &::before, &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 25px;
      width: 2px;
      background-color: #333;
    }
    &::before {
      transform: translateY(-50%) rotate(45deg);
    }
    &::after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
  &__gallery{

  }
  &__side{
    display: flex;
    flex-direction: column;
  }
}

.post_side{
  &__cap{
    display: grid;
    grid-template-columns: minmax(auto, 48px) 1fr;
    align-items: center;
    column-gap: 12px;
    padding: 12px 72px  0 16px;
    margin-bottom: 8px;
  }
  &__full-name{
    display: flex;
    column-gap: 8px;
  }
  &__first-name, &__last-name{
    display: inline-block;
  }
  &__text{
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  .popup-post{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
  }
}
