.feet{
  --padding-top: 24px;
  --padding-bottom: 24px;
  &__container{
    display: grid;
    grid-template-columns: minmax(320px, 3fr) minmax(200px, 1fr);
    column-gap: 24px;
  }
  &__main{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .feet{
    &__container{
      grid-template-columns: 1fr;
    }
    &__aside{
      margin: 0 auto;
    }
  }
}
