.radio{
  display: flex;
  &__item{
    --border-color: transparent;
    --background-hover-opacity: 0;
    --ripple-color: transparent;
  }
  &__label{
    font-size: 14px;
  }
  &__radio{
    margin: 10px 10px 10px 0;
    --color-checked: red;
  }
}
