<ion-card class="ion-no-margin recommended-cell">

  <ion-card-header class="ion-no-padding recommended-cell__header">
    <ion-avatar>
      <img class="recommended-cell__img" alt="channel" src="../../../assets/images/nature.jpg" />
    </ion-avatar>
  </ion-card-header>

  <ion-card-content class="ion-no-padding recommended-cell__content">
    <ion-card-title class="recommended-cell__title">Card Title</ion-card-title>
    <ion-card-subtitle class="recommended-cell__subtitle">Card Subtitle</ion-card-subtitle>
    <ion-button class="recommended-cell__button" size="small" color="medium" shape="round" fill="outline">Tracked</ion-button>
  </ion-card-content>

</ion-card>
