<ion-header collapse="fade">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-row>
            <ion-col size="auto" class="header__logo_wrapper">
              <ion-button fill="clear" type="block" class="no-ripple ion-no-padding">
                <ion-icon class="header__logo" name="logo-linkedin" ></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-searchbar class="header__search"></ion-searchbar>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <app-nav-main></app-nav-main>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
