<ion-card class="new-publications">
  <ion-card-header class="new-publications__header">
    <ion-avatar class="new-publications__avatar">
      <img *ngIf="userAvatar; else avatarIco" class="new-publications__img" alt="avatar" src="{{userAvatar | url}}" />
      <ng-template #avatarIco>
        <ion-icon  class="new-publications__img" name="person-outline"></ion-icon>
      </ng-template>
    </ion-avatar>
    <div class="new-publications__btn-wrapper">
      <ion-button #post (click)="onPublication($event)" class="new-publications__btn" shape="round" expand="block" fill="outline">Start a post</ion-button>
    </div>
  </ion-card-header>

  <ion-card-content class="new-publications__action" >
    <ion-button class="new-publications__button" size="default" fill="clear">
      <ion-icon slot="start" name="image"></ion-icon>Photo
    </ion-button>
    <ion-button class="new-publications__button" size="default" color="success" fill="clear">
      <ion-icon slot="start" name="logo-youtube"></ion-icon>Video
    </ion-button>
    <ion-button class="new-publications__button new-publications__button--event" size="default" fill="clear">
      <ion-icon slot="start" name="calendar"></ion-icon>Event
    </ion-button>
    <ion-button class="new-publications__button" size="default" color="danger" fill="clear">
      <ion-icon slot="start" name="document-text"></ion-icon>Write article
    </ion-button>
  </ion-card-content>
</ion-card>
