<ion-card class="new-publications">
  <ion-card-header class="new-publications__header">
    <ion-avatar class="new-publications__avatar">
      <img *ngIf="userAvatar; else avatarIco" class="new-publications__img" alt="avatar" src="{{userAvatar | url}}" />
      <ng-template #avatarIco>
        <ion-icon  class="new-publications__img" name="person-outline"></ion-icon>
      </ng-template>
    </ion-avatar>
    <div class="new-publications__btn-wrapper">
      <ion-router-link  [routerLink]="['/home']" [queryParams]="{create: true}">
        <ion-button class="new-publications__btn" shape="round" expand="block" fill="outline">Start a post</ion-button>
      </ion-router-link>
    </div>
  </ion-card-header>
  <ion-card-content class="new-publications__action" >
    <ion-button (click)="onPhoto($event)" class="new-publications__button" size="default" fill="clear">
      <ion-icon slot="start" name="image"></ion-icon>Photo
    </ion-button>
    <ion-button (click)="onVideo($event)" class="new-publications__button" size="default" color="success" fill="clear">
      <ion-icon slot="start" name="logo-youtube"></ion-icon>Video
    </ion-button>
    <ion-router-link [routerLink]="[]" [queryParams]="{event: true}">
      <ion-button class="new-publications__button new-publications__button--event" size="default" fill="clear">
        <ion-icon slot="start" name="calendar"></ion-icon>Event
      </ion-button>
    </ion-router-link>
    <ion-button class="new-publications__button" size="default" color="danger" fill="clear">
      <ion-icon slot="start" name="document-text"></ion-icon>Write article
    </ion-button>
  </ion-card-content>
  <input (change)="changePhoto($event)" accept="image/*" class="new-publications__display-none" type="file" name="photo" #photoFile/>
  <input (change)="changeVideo($event)" accept="video/mp4," class="new-publications__display-none" type="file" name="video" #videoFile/>
</ion-card>
