<ion-card class="tape-profile">
  <ion-card-header class="tape-profile__header">
    <div class="tape-profile__back-bg">
      <div class="tape-profile__back-markup"></div>
      <ion-avatar class="tape-profile__avatar-wrapper" (click)="onAvatar($event)">
        <img *ngIf="user.avatar; else avatarIco"  class="tape-profile__avatar" alt="avatar" src="{{ user.avatar | url }}" />
        <ng-template #avatarIco>
          <ion-icon  class="tape-profile__avatar" name="person-outline"></ion-icon>
        </ng-template>
        <input (change)="onFile($event)" #avatar type="file" style="display: none">
      </ion-avatar>
    </div>
    <ion-card-title class="tape-profile__text">{{ user.firstName }} {{user.lastName}}</ion-card-title>
    <ion-card-title class="tape-profile__text">Full Stack Developer</ion-card-title>
  </ion-card-header>

  <ion-card-content class="tape-profile__content">
    <div class="tape-profile__action">
      <ion-card-subtitle>Who viewed my profile</ion-card-subtitle>
      <div class="tape-profile__count">444</div>
    </div>
    <div class="tape-profile__action">
      <ion-card-subtitle>Connections</ion-card-subtitle>
      <div class="tape-profile__count">111</div>
    </div>
    <ion-card-title class="tape-profile__manage">Manage your network</ion-card-title>
  </ion-card-content>
</ion-card>
