.board-events{
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid gray;
  width: 100%;
  &__title{
    padding-bottom: 12px;
  }
  &__dashboard{
    padding: 4px 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
  }
}

.cell-events{
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  &__header{

  }
  &__content{
    padding: 4px 12px;
  }
  &__basement{
    padding: 4px 12px;
  }
  &__img{
    object-fit: cover;
    width: 100%;
  }
  &__time{
    padding: 8px 0 4px 0;
  }
  &__title{
    font-size: 16px;
    font-weight: bold;
  }
  &__meeting{
    display: inline-block;
    padding-right: 10px;
  }
  &__type{
    position: relative;
    margin-left: 10px;
    &::before{
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: black;
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translate(-100%, -50%);
    }
  }
  &__link{
    --color: #000;
  }
}
