<div class="board-events">
  <ion-text class="board-events__title">{{title}}</ion-text>
  <div class="board-events__dashboard">

    <div *ngFor="let event of events" class="cell-events">
      <div class="cell-events__header">
        <img class="cell-events__img" appImg [src]="event.img" alt="event img">
      </div>
      <div class="cell-events__content">
        <div class="cell-events__time">
          <div class="cell-events__meeting"> {{event.date}}, {{event.time}} </div>
          <div class="cell-events__meeting cell-events__type">{{event.type}}</div>
        </div>
        <div class="cell-events__title">
          <ion-router-link class="cell-events__link" [routerLink]="['/event', event.id]">{{event.title}}</ion-router-link>
        </div>
      </div>
      <div class="cell-events__basement">
        <ion-router-link [routerLink]="['/event', event.id]">
          <ion-button shape="round" fill="outline" expand="full">View</ion-button>
        </ion-router-link>
      </div>
    </div>

  </div>
</div>
