<ion-content class="addition-publication" >
  <form >
    <ion-item class="addition-publication__header">
      <ion-label class="addition-publication__label">Tell us what kind of specialists you are looking for</ion-label>
      <ion-button id="close" class="addition-publication__close ion-no-padding" fill="clear" color="medium" shape="round" (click)="onClose($event)">
        <ion-icon class="addition-publication__x-close" name="close-outline" ></ion-icon>
      </ion-button>
    </ion-item>
    <ion-content scroll-y="false" class="addition-publication__content">

    </ion-content>
    <ion-footer class="ion-no-border" collapse="fade">

    </ion-footer>
  </form>
</ion-content>
