.chat{
  display: grid;
  grid-template-columns: 180px 1fr;
  height: 100%;
  padding-top: 10px;
  &__friends{

  }
  &__container{
    height: 100%;
  }
  &__area{

  }
  &__conversation{

  }
}

@media screen and (max-width: 576px) {
  //.chat{
  //  max-width: 320px;
  //  width: 100%;
  //  margin: 0 auto;
  //  flex-wrap: wrap;
  //  padding: 15px;
  //}
}
