<ion-router-outlet></ion-router-outlet>

<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="container chat__container">
    <div class="chat">
      <div class="chat__friends" >
        <app-tape-friends></app-tape-friends>
      </div>
      <div class="chat__area">
        <div class="chat__conversation" *ngIf="!!messages?.length; else chatEmpty">
          <div
            class="chat__cell"
            *ngFor="let message of messages; index as i"
            [ngClass]="{'chat__cell--owner': message?.owner?.id === user?.id}"
          >
            <div class="chat__author">
              <div *ngIf="message.owner?.avatar; else avatarIco" class="chat-author__avatar">
                <img alt="avatar" src="{{ message.owner?.avatar | url }}" />
              </div>
              <ng-template #avatarIco>
                <ion-icon  class="chat__author" name="person-outline"></ion-icon>
              </ng-template>
              <div class="chat-author__name">
                {{message.owner?.firstName}} {{message.owner?.lastName}}
              </div>
            </div>
            <div class="chat__message">
              {{message.message}}
            </div>
            <div *ngIf="message?.owner?.id === user?.id" class="chat_message__del" (click)="onDel(i)"></div>
          </div>
        </div>
        <ng-template #chatEmpty>
          <ion-text>You not have conversation!</ion-text>
        </ng-template>
        <div class="chat__interaction">
          <form [formGroup]="textarea" (ngSubmit)="onSubmit()" class="chat__form">
            <ion-textarea formControlName="message" class="chat__textarea" placeholder="Entering a new message"></ion-textarea>
            <ion-button [disabled]="!textarea.valid" type="submit">Send</ion-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
