.recommended{
  --ion-background-color: #fff;
  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-size: 16px;
  }
  &__info{
    font-size: 20px;
  }
  &__content{

  }
  &__footer{
    display: flex;
  }
  &__arrow-foot{
    padding-left: 5px;
    transform: translateY(2px);
  }
}
