.tape-friends{
  &__list{
    padding-right: 10px;
  }
  &__item{
    display: flex;
    column-gap: 8px;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    &--active{
      background-color: rgba(0,0,0, .1);
      cursor: default;
      border-radius: 10px;
    }
  }
  &__avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__name{
    font-size: 15px;
  }
}
