<div class="basement">
  <ion-tab-bar class="basement__tab" slot="bottom">
    <ion-tab-button class="basement__tab-btn" tab="home">
      <ion-icon name="home" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Home</div>
    </ion-tab-button>

    <ion-tab-button class="basement__tab-btn" tab="network">
      <ion-icon name="people" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Network</div>
    </ion-tab-button>

    <ion-tab-button class="basement__tab-btn" tab="job">
      <ion-icon name="briefcase" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Jobs</div>
    </ion-tab-button>

    <ion-tab-button class="basement__tab-btn" tab="message">
      <ion-icon name="chatbox-ellipses" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Chat</div>
<!--      <ion-badge>6</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button class="basement__tab-btn" tab="message">
      <ion-icon name="notifications" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Notification</div>
    </ion-tab-button>
  </ion-tab-bar>
</div>

