<div class="basement">
  <ion-tab-bar class="basement__tab" slot="bottom">

    <ion-tab-button (click)="onClickBtn('')" class="basement__tab-btn">
      <ion-icon name="home" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Home</div>
    </ion-tab-button>

    <ion-tab-button (click)="onFriends($event)" class="basement__tab-btn">
      <ion-icon name="people" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Network</div>
      <ion-badge *ngIf="user?.suggest.length" class="nav-main__badge" slot="start">{{user?.suggest.length}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button class="basement__tab-btn">
      <ion-icon name="briefcase" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Jobs</div>
    </ion-tab-button>

    <ion-tab-button (click)="onClickBtn('chat/mobile/friends')" class="basement__tab-btn">
      <ion-icon name="chatbox-ellipses" class="nav-main__ico"></ion-icon>
      <div *ngIf="noRead" class="nav-main__attention" slot="start"></div>
      <div class="nav-main__text">Chat</div>
<!--      <ion-badge>6</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button class="basement__tab-btn">
      <ion-icon name="notifications" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Notification</div>
    </ion-tab-button>

  </ion-tab-bar>
</div>

