.event{
  padding-top: 18px;
  &__head{
    display: flex;
    padding: 24px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid gray;
  }
  &__title{
    padding: 0;
  }
  &__board{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 10px;
  }
}
