.post{
  margin: 10px auto;
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__header-name{
    padding-left: 15px;
    padding-right: 15px;
  }
  &__header-left{
    display: flex;
    align-items: center;
  }
  &__header-right{
    display: flex;
    gap: 10px;
  }
  &__img, &__avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: grey;
  }
  &__content{
    font-size: 14px;
  }
  &__footer{
    padding-top: 0;
    display: flex;
    justify-content: space-around;
  }
  &__btn-action{
    font-size: 14px;
  }
  &__icon{
    width: 22px;
    height: 22px;
    cursor: pointer;
    pointer-events: none;
  }
  &__btn-icon{
    --padding-end: 0;
    --padding-start: 0;
    --ripple-color: transparent;
  }
}

@media screen and (max-width: 576px){
  .post{
    &__footer{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__btn-action{
      font-size: 13px;
    }
  }
}
