<ion-content class="popup-notification">
  <div class="popup-notification__sheet">
    <div class="popup-notification__header">
      <ion-text class="popup-notification__title" [ngClass]="{'popup-notification__title--red': titleColor === 'red'}">{{title}}</ion-text>
      <div (click)="onClose($event)" class="popup-notification__close"></div>
    </div>
    <div class="popup-notification__body">{{error}}</div>
    <div class="popup-notification__footer">
      <ion-button class="popup-notification__btn" (click)="onClose($event)">Ok</ion-button>
    </div>
  </div>
</ion-content>
