.form_login{
  padding: 24px;
  &__shape{

  }
  &__submit{
    margin-top: 20px;
  }
  &__cell{
    position: relative;
    padding-bottom: 18px;
  }
  &__item{
    position: relative;
  }
  &__frame{
    position: relative;
    margin-bottom: 25px;
    background-color: #2dd36f;
  }
  &__alert{
    position: absolute;
    left: 16px;
    right: 0;
    bottom: 0;
    color: #eb445a;
  }
}
