<ion-content class="tape-post" appScroll>
  <ion-list class="tape-post__list" >
    <ion-item class="tape-post__list" *ngFor="let post of posts; let i = index;">
      <app-post
        style="width: 100%"
        [post]="post"
        [index]="i"
        [userID]="userID"
        [userAvatar]="userAvatar"
        (editPost)="editPost($event)"
      ></app-post>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll [disabled]="false" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
