.no-ripple {
  --ripple-color: transparent;
  padding: 0;
}
.header{
  --ion-background-color: #fff;
  &__logo{
    font-size: 44px;
    cursor: pointer;
  }
  &__logo_wrapper{
    display: flex;
    justify-content: center;
    align-items: center
  }
  &__search{
    --box-shadow: none;
  }
  &__container{
    display: flex;
    justify-content: space-between;
  }
  &__panel{
    display: flex;
    align-items: center;
  }
  &__nav-main{

  }
  &__back{
    display: none;
  }
}

@media (max-width: 992px) {
  .header{
    &__logo{
      font-size: 34px;
    }
    &__search-col{
      display: none;
    }
  }
}

@media(max-width: 576px){
  .header{
    &__logo_wrapper{
      width: 100%;
    }
    &__container{
      justify-content: space-around;
    }
    &__back{
      display: block;
    }
  }
}
