<ion-header collapse="fade" class="header">
  <ion-toolbar>
    <ion-grid class="container header__container">
      <div class="header__panel">
        <div class="header__logo_wrapper">
          <ion-button fill="clear" type="block" class="no-ripple ion-no-padding">
            <ion-icon class="header__logo" name="logo-linkedin" ></ion-icon>
          </ion-button>
        </div>
        <div class="header__search-col">
          <ion-searchbar class="header__search"></ion-searchbar>
        </div>
      </div>
      <div class="header__nav-main">
        <app-nav-main></app-nav-main>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-header>
