.aside-news{
  border-radius: 10px;
  padding: 14px;
  &__h5{
    font-size: 16px;
    margin: 0 0 12px 0;
  }
  &__column{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  &__link{

  }
  &__row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
    column-gap: 10px;
    align-items: center;
  }
  &__img{
    object-fit: cover;
    max-height: 80px;
    height: 100%;
    width: 100%;
  }
  &__title{
    display: -webkit-box;
    color: gray;
  }
}

