<ng-container *ngIf="(url$ | async) as url">
  <ion-content class="auth" fullscreen="true" >
    <div class="auth__strap">
      <div class="auth__area">
        <ion-header class="auth__header ion-no-border">
          <ion-router-link class="auth__link" routerLink="/" >
            <div class="auth__link-inner" >
              <div>Linked</div>
              <ion-icon name="logo-linkedin"></ion-icon>
            </div>
          </ion-router-link>
          <ion-title class="auth__title">Make the most of your professional life</ion-title>
        </ion-header>
        <ion-card [ngClass]="{'auth__login': url === '/auth/login' || !url, 'auth__registration': url === '/auth/registration' }" >
          <ion-router-outlet></ion-router-outlet>
        </ion-card>
        <ion-footer class="auth__footer ion-no-border">
          <ng-container *ngIf="url === '/auth/login' || !url ">
            <ion-text class="auth__text">New to LinkedIn</ion-text>
            <ion-router-link routerLink="/auth/registration">Join now</ion-router-link>
          </ng-container>
          <ng-container *ngIf="url === '/auth/registration'">
            <ion-text class="auth__text">New to LinkedIn</ion-text>
            <ion-router-link routerLink="/auth/login">Login now</ion-router-link>
          </ng-container>
        </ion-footer>
      </div>
    </div>
  </ion-content>
</ng-container>


