<ion-content class="auth" fullscreen="true" >
  <div class="auth__strap">
    <div class="auth__area">
      <ion-header class="auth__header ion-no-border">
        <ion-router-link class="auth__link" href="/" >
          <div class="auth__link-inner" >
            <div>Linked</div>
            <ion-icon name="logo-linkedin"></ion-icon>
          </div>
        </ion-router-link>
        <ion-title class="auth__title">Make the most of your professional life</ion-title>
      </ion-header>
      <ion-card class="auth__shape">
        <ion-router-outlet></ion-router-outlet>
      </ion-card>
      <ion-footer class="ion-no-border">
        <ion-text>New to LinkedIn</ion-text><ion-router-link>Join now</ion-router-link>
      </ion-footer>
    </div>
  </div>
</ion-content>

