<aside class="aside-event__aside">
  <div class="aside-event__cap">
    <ion-icon class="aside-event__calendar" name="calendar-outline"></ion-icon>
    <div class="aside-event__create">
      <div class="aside-event__desc">Organize an event on LinkedIn and invite your rivals</div>
      <ion-router-link class="aside-event__event" [routerLink]="[]" [queryParams]="{event: true}">
        <ion-button shape="round" fill="outline" color="medium">Create event</ion-button>
      </ion-router-link>
    </div>
  </div>
  <div class="aside-event__other">
    <h5 class="aside-event__h5">Other events</h5>
    <div class="aside-event__tape">
      this tape event
    </div>
  </div>
</aside>
