<ion-card class="popup-event">
  <ion-card-header class="popup-event__header">
    <ion-card-title class="popup-event__title">Create event</ion-card-title>
    <ion-button id="close" class="popup-event__close ion-no-padding" fill="clear" color="medium" shape="round" (click)="onClose($event)">
      <ion-icon class="popup-event__x-close" name="close-outline" ></ion-icon>
    </ion-button>
  </ion-card-header>
  <ion-card-content class="popup-event__content">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit($event)">
      <div class="popup-event__picture">
        <input (change)="onChange($event)"
          #inputFile
          name="picture"
          type="file"
          class="popup-event__file"
        />
        <div *ngIf="!getImg.value; else fileReader" class="popup-event__empty" (click)="onEmpty($event)">
          <ion-icon name="camera" class="popup-event__camera"></ion-icon>
          <ion-text>Upload main image</ion-text>
        </div>
        <ng-template #fileReader>
          <app-file-reader class="popup-event__file-reader" [img]="getImg.value" [alt]="'picture'" [class]="''"></app-file-reader>
        </ng-template>
      </div>
      <div class="popup-event__node popup-event__type">
        <ion-card-title class="popup-event__sub-title">Type event</ion-card-title>
        <div class="popup-event__checkbox-area">
          <app-radio
            [selected]="'online'"
            [list]="[{name: 'Online', val: 'online'}, {name: 'Personally', val: 'personally'}]"
            (onRadioChange)="onRadioChange($event)"
          ></app-radio>
        </div>
      </div>
      <div class="popup-event__node">
        <ion-card-title class="popup-event__sub-title">Event title</ion-card-title>
        <ion-input class="popup-event__input" name="title" type="text"></ion-input>
      </div>
      <div class="popup-event__node popup-event__begin">
        <div class="popup-event__item popup-event__item--width">
          <div class="popup-event__inner">
            <ion-label class="popup-event__label">Date begin</ion-label>
            <ion-input
              type="date"
              class="popup-event__input"
              formControlName="date"
            ></ion-input>
          </div>
        </div>
        <div class="popup-event__item popup-event__item--width">
          <div class="popup-event__inner">
            <ion-label class="popup-event__label">Start time</ion-label>
            <ion-input
              type="time"
              class="popup-event__input"
              formControlName="time"
            ></ion-input>
          </div>
        </div>
      </div>
      <div class="popup-event__node">
        <ion-card-title class="popup-event__sub-title">External link to the event</ion-card-title>
        <ion-input
          type="text"
          class="popup-event__input"
          formControlName="link"
        ></ion-input>
      </div>
      <div class="popup-event__node">
        <ion-card-title class="popup-event__sub-title">Description</ion-card-title>
        <ion-textarea
          [autoGrow]="true"
          name="description"
          class="popup-event__textarea"
          formControlName="description"
        ></ion-textarea>
      </div>
      <div class="popup-event__node popup-event__node--footer">
        <ion-button
          type="submit"
          [disabled]="!eventForm.valid"
          color="medium"
          shape="round"
        >Further</ion-button>
      </div>
    </form>
  </ion-card-content>
</ion-card>

