.popup-event{
  margin: 0;
  position: relative;
  &__header{
    position: relative;
  }
  &__content{
    padding-bottom: 85px;
  }
  &__title{
    font-size: 20px;
    margin: 16px 48px 16px 0;
  }
  &__sub-title{
    font-size: 16px;
  }
  &__x-close{
    font-size: 33px
  }
  &__close{
    position: absolute;
    transform: translateY(-50%);
    top: 45%;
    right: 10px;
    height: 33px;
    width: auto;
  }
  &__picture{
    background-color: #F3F2EF;
    min-height: 100px;
    max-height: 300px;
    height: 100vh;
    margin: 0 -16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  &__file{
    display: none;
  }
  &__camera{
    width: 40px;
    height: 40px;
  }
  &__file-reader{
    width: 100%;
    height: 100%;
  }
  &__node{
    padding-top: 24px;
    &--footer{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px;
      display: flex;
      justify-content: end;
    }
  }
  &__begin{
    display: flex;
    column-gap: 10px;
  }
  &__type{

  }
  &__checkbox-area{
    padding-top: 8px;
  }
  &__input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 6px 8px;
    height: 32px;
  }
  &__textarea{
    border: 1px solid grey;
    border-radius: 5px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    --border-color: transparent;
    --inner-padding-start: 20px;
    &--width{
      flex-grow: 1;
    }
  }
  &__inner{

  }
  &__data{
    border: 1px solid gray;
    padding: 6px 8px;
    height: 32px;
  }
}
