.home{
  &__content{
    --background: #F3F2EF
  }
  &__container{
    display: grid;
    grid-template-columns: minmax(180px, 225px) minmax(432px, auto) minmax(300px, 315px);
    grid-gap: 15px;
    grid-template-areas: 'profile main recommended';
    height: 100%;
  }
  &__profile{
    grid-area: profile;
  }
  &__main{
    grid-area: main;
    display: flex;
    flex-direction: column;
  }
  &__add{
    grid-area: recommended;
  }
  &__tape-post{
    flex-grow: 1;
  }
}

@media screen and (max-width: 992px) {
  .home{
    &__container{
      grid-template-columns: 203px 1fr;
      grid-template-areas: 'profile main' 'profile recommended';
    }
  }
}

@media screen and (max-width: 760px) {
  .home {
    &__container {
      grid-template-columns: 1fr;
      grid-template-areas: 'profile''main''recommended';
    }
  }
}

@media (prefers-color-scheme: dark) {
  .home{
    &__content{
      --background: #000;
    }
  }
}
