.file-reader{
  object-fit: cover;
  height: 100%;
  width: 100%;
  &__wrapper{
    display: flex;
    &--row{
      flex-direction: row;
    }
    &--column{
      flex-direction: column;
    }
  }
}
