<ion-grid>
  <ion-row class="ion-float-right">
    <ion-col class="nav-main__cell" size="auto">
      <ion-icon name="home" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Home</div>
    </ion-col>
    <ion-col class="nav-main__cell" size="auto">
      <ion-icon name="people" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Network</div>
    </ion-col>
    <ion-col class="nav-main__cell" size="auto">
      <ion-icon name="briefcase" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Jobs</div>
    </ion-col>
    <ion-col class="nav-main__cell" size="auto">
      <ion-icon name="chatbox-ellipses" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Message</div>
    </ion-col>
    <ion-col class="nav-main__cell" size="auto">
      <ion-icon name="notifications" class="nav-main__ico"></ion-icon>
      <div class="nav-main__text">Notification</div>
    </ion-col>
    <ion-col class="nav-main__cell" size="auto" #popupAnchor (click)="presentPopover($event)">
      <ion-avatar class="nav-main__avatar_wrapper">
        <img class="nav-main__avatar" alt="avatar" src="../../../assets/images/profile.png" />
      </ion-avatar>
<!--      <ion-icon name="person" class="nav-main__ico"></ion-icon>-->
      <div class="nav-main__text nav-main__text__center">Me <ion-icon name="chevron-down-outline"></ion-icon></div>
    </ion-col>
  </ion-row>
</ion-grid>

