<ion-content class="popup-friend">
  <ng-container *ngIf="getSuggest; else listRequest">
    <ion-content *ngFor="let request of this.user.suggest; let i = index" class="popup-friend__item">
      <div class="popup-friend__cap">
        <ng-container *ngIf="!!request.user.avatar; else avatarIco">
          <img class="popup-friend__img" alt="avatar" src="{{ request.user.avatar | url }}" />
        </ng-container>
        <ng-template #avatarIco>
          <ion-icon  class="popup-friend__img" name="person-outline"></ion-icon>
        </ng-template>
        <ion-label class="popup-friend__label">{{request.user.firstName}} {{request.user.lastName}}</ion-label>
      </div>
      <div class="popup-friend__basement">
        <ion-button (click)="onAccept(request, i)" size="small" fill="outline">Accept</ion-button>
        <ion-button (click)="onDecline(request, i)" color="danger" size="small" fill="outline">Decline</ion-button>
      </div>
    </ion-content>
  </ng-container>
  <ng-template #listRequest>
    <ion-text class="popup-friend__not-request">
      You don't have any friend requests
    </ion-text>
  </ng-template>
</ion-content>
