<ion-card class="tape-profile">
  <ion-card-header class="tape-profile__header">
    <div class="tape-profile__back-bg">
      <div class="tape-profile__back-markup"></div>
      <ion-avatar class="tape-profile__avatar-wrapper">
        <img class="tape-profile__avatar" alt="avatar" src="../../../assets/images/profile.png" />
      </ion-avatar>
    </div>
    <ion-card-title class="tape-profile__text">Profile Name</ion-card-title>
    <ion-card-title class="tape-profile__text">Full Stack Developer</ion-card-title>
  </ion-card-header>

  <ion-card-content class="tape-profile__content">
    <div class="tape-profile__action">
      <ion-card-subtitle>Who viewed my profile</ion-card-subtitle>
      <div class="tape-profile__count">444</div>
    </div>
    <div class="tape-profile__action">
      <ion-card-subtitle>Connections</ion-card-subtitle>
      <div class="tape-profile__count">111</div>
    </div>
    <ion-card-title class="tape-profile__manage">Manage your network</ion-card-title>
  </ion-card-content>
</ion-card>
