<ion-router-link></ion-router-link>
<app-header></app-header>

<ion-content>
  <div class="container" >
    <form [formGroup]="form" >
      <div class="editor" >
        <ngx-editor-menu
          [editor]="editor"
          [toolbar]="toolbar"
        >
        </ngx-editor-menu>
        <ngx-editor
          class="new__editor"
          placeholder="Write here!"
          [editor]="editor"
          formControlName="editorContent"
        >
        </ngx-editor>
      </div>
    </form>
  </div>
</ion-content>

<app-basement></app-basement>
