<ion-router-link></ion-router-link>
<app-header></app-header>

<ion-content>
  <div class="container new" >
    <form class="new__form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="new__editor" >
        <ngx-editor-menu
          [editor]="editor"
          [toolbar]="toolbar"
        >
        </ngx-editor-menu>
        <ngx-editor
          class="new__editor"
          placeholder="Write here!"
          [editor]="editor"
          formControlName="editorContent"
        >
        </ngx-editor>
      </div>
      <div class="new__basement" >
        <ion-button type="submit">Send</ion-button>
      </div>
    </form>
  </div>
</ion-content>

<app-basement></app-basement>
